<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Daily ReScraper</h1>
    <p class="lead">Scrape up some Greenville news by hitting the Scrape button below!</p>
  <button type="button" class="btn btn-success" id="scrapeBtn">Scrape</button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6" id="articles"></div>
    <div class="col-md-4" id="notes"></div>
    <div class="col-md-1"></div>
  </div>
</div>